body{text-align: left; background:#DDDDDD;
padding: 0 0% 0 0%}

h1 {font-family:   Copperplate, "Copperplate Gothic Light", fantasy; color:#4B5B96;}

p {font-family:   Helvetica, Arial, sans-sarif; color:black}

a.list {font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-size: 22px; font-wieght:bolder; text-decoration:none;line-hieght:32px}
    a.list:link {
        color: #4B5B96
    }
    a.list:visited {
        color: #4B5B96
    }
a.list:hover {color:#FF9800; text-decoration:underline}

a.money {font-family: Helvetica, Arial, sans-sarif; font-size: 22px; font-wieght:bold; text-decoration:none;line-hieght:32px}
a.money:link {color:black}
    a.money:visited {
        color: #4B5B96
    }
    a.money:hover {
        color: #FF9800;
        text-decoration: underline
    }

#line {
    width: 100%;
    background-image: url(http://s30.postimg.org/x0ne0p5wx/bootsrap.png);
    height: 2px;
    background-color: #4B5B96;
    background-position: center;
}

#blackline {
    width: 100%;
    background-image: url(http://s30.postimg.org/x0ne0p5wx/bootsrap.png);
    height: 3px;
    background-color: black;
    background-position: center;
}

#lin {
  width: 300px;
  background-image: url(http://s30.postimg.org/x0ne0p5wx/bootsrap.png);
  height: 2px;
  background-color: black;
}
#cla {

}

a.about {font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-size: 22px; font-wieght:bolder; text-decoration:none;line-hieght:32px; }
    a.about:link {
        color: #4B5B96
    }
    a.about:visited {
        color: #4B5B96
    }
a.about:hover {color:#FF9800; text-decoration:underline}


#bannerimage {
  width: 105%;
  background-image: url(http://s30.postimg.org/x0ne0p5wx/bootsrap.png);
  height: 99px;
  background-color: #DDDDDD;
  background-position: center;
  opacity: 90%;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 100px;
}

.columnss {
    flex: 33.33%;
    padding: 5px;
}

.tech-slideshow {
    height: 400px;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

    .tech-slideshow > div {
        height: 200px;
        width: 2526px;
        background: url(scroll.png);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transform: translate3d(0, 0, 0);

    }

    .tech-slideshow .mover-1 {
        animation: moveSlideshow 20s linear infinite;
    }

    .tech-slideshow .mover-2 {
        opacity: 0;
        transition: opacity 0.5s ease-out;
        background-position: 0 -100px;
        animation: moveSlideshow 20s linear infinite;
    }

    .tech-slideshow:hover .mover-2 {
        opacity: 1;
    }

@keyframes moveSlideshow {
    100% {
        transform: translateX(-66.6666%);
    }
}
/* Dropdown Button */
.dropbtn {
  background-color: #2d2d2d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  font-family: Copperplate, "Arial", fantasy;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
